In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [65]:
df = pd.read_csv('C:\\Users\\GOURAV NEGI\\Downloads\\titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [48]:
df.fillna(777 ,inplace = True)

In [49]:
x = df.loc[0:,('Pclass','Sex','Age','Fare')]
x

     Pclass     Sex    Age     Fare
0         3    male   22.0   7.2500
1         1  female   38.0  71.2833
2         3  female   26.0   7.9250
3         1  female   35.0  53.1000
4         3    male   35.0   8.0500
..      ...     ...    ...      ...
886       2    male   27.0  13.0000
887       1  female   19.0  30.0000
888       3  female  777.0  23.4500
889       1    male   26.0  30.0000
890       3    male   32.0   7.7500

[891 rows x 4 columns]

In [50]:
from sklearn.preprocessing import LabelEncoder
le_Sex = LabelEncoder()

In [51]:
x['Sex_1'] = le_Sex.fit_transform(x['Sex'])
x

     Pclass     Sex    Age     Fare  Sex_1
0         3    male   22.0   7.2500      1
1         1  female   38.0  71.2833      0
2         3  female   26.0   7.9250      0
3         1  female   35.0  53.1000      0
4         3    male   35.0   8.0500      1
..      ...     ...    ...      ...    ...
886       2    male   27.0  13.0000      1
887       1  female   19.0  30.0000      0
888       3  female  777.0  23.4500      0
889       1    male   26.0  30.0000      1
890       3    male   32.0   7.7500      1

[891 rows x 5 columns]

In [52]:
x = x.drop(['Sex'],axis = 1)
x

     Pclass    Age     Fare  Sex_1
0         3   22.0   7.2500      1
1         1   38.0  71.2833      0
2         3   26.0   7.9250      0
3         1   35.0  53.1000      0
4         3   35.0   8.0500      1
..      ...    ...      ...    ...
886       2   27.0  13.0000      1
887       1   19.0  30.0000      0
888       3  777.0  23.4500      0
889       1   26.0  30.0000      1
890       3   32.0   7.7500      1

[891 rows x 4 columns]

In [53]:
y = df.loc[0:,'Survived']
y

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [54]:
from sklearn.model_selection import train_test_split

In [55]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [56]:
len(x_train)

712

In [57]:
len(x_test)

179

In [58]:
from sklearn.ensemble import RandomForestClassifier

In [59]:
clf = RandomForestClassifier(n_estimators=100,criterion='gini')

In [60]:
clf.fit(x_train,y_train)

RandomForestClassifier()

In [61]:
clf.predict(x_test)

array([0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0,
       0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0,
       1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0,
       0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1,
       1, 1, 1], dtype=int64)

In [64]:
clf.score(x_test,y_test)

0.8156424581005587

In [7]:
from sklearn.metrics import confusion_matrix

In [8]:
cm = confusion_matrix(y_test,clf.predict(x_test))
cm

NameError: name 'y_test' is not defined

In [68]:
from sklearn.metrics import classification_report

In [69]:
class_report = classification_report(y_test, clf.predict(x_test))
print(class_report)

              precision    recall  f1-score   support

           0       0.84      0.88      0.86       112
           1       0.77      0.72      0.74        67

    accuracy                           0.82       179
   macro avg       0.81      0.80      0.80       179
weighted avg       0.81      0.82      0.81       179

In [5]:
plt.figure(figsize=(8,5))
sns.heatmap(cm,annot=True,cmap='cool')

NameError: name 'cm' is not defined