31-10-2022

In [ ]:
precision :precision is used to calculate the models ability to classify positive values
    correctly. It is the true positive divided by the total number of predicted positve
    values.

In [ ]:
precision: Tp  
        ________
         TP+FP

1-11-2022

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("C:\\Users\\GOURAV NEGI\\Downloads\\archive (7)\\Iris.csv")
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [4]:
df.drop('Id',inplace=True,axis=1)

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
x = df[['SepalLengthCm','PetalLengthCm']]
y = df['Species']

In [9]:
x_train, x_test, y_train,y_test = train_test_split(x,y, test_size=0.3)

In [13]:
len(x)

150

In [14]:
len(y)

150

In [15]:
len(x_train)

105

In [16]:
len(y_train)

105

In [17]:
from sklearn.neighbors import KNeighborsClassifier

In [18]:
knn = KNeighborsClassifier(n_neighbors = 4)

In [19]:
knn.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=4)

In [20]:
knn.predict(x_train)

array(['Iris-virginica', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-setosa',
       'Iris-virginica', 'Iris-setosa', 'Iris-virginica', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-versicolor',
       'Iris-setosa', 'Iris-virginica', 'Iris-versicolor', 'Iris-setosa',
       'Iris-virginica', 'Iris-setosa', 'Iris-setosa', 'Iris-versicolor',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-versicolor', 'Iris-virginica', 'Iris-versicolor',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-setosa', 'Iris-setosa', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-setosa', 'Iris-versicolor', 'Iris-versicolor', 'Iris-setosa',
       'Iris-virginica', 'Iris-virginica', 'Iris-setosa',
       'Iris-virginica', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-virginica', 'Iris-virginica', 'Iris-setosa', 'Iris-setosa',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-versicolor', 'Iris-virginica', 'Iris-setosa', 'Iris-setosa',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-setosa', 'Iris-setosa', 'Iris-versicolor', 'Iris-setosa',
       'Iris-setosa', 'Iris-virginica', 'Iris-versicolor', 'Iris-setosa',
       'Iris-setosa', 'Iris-versicolor', 'Iris-virginica', 'Iris-setosa',
       'Iris-versicolor', 'Iris-virginica', 'Iris-virginica',
       'Iris-versicolor', 'Iris-virginica', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-virginica', 'Iris-setosa',
       'Iris-versicolor', 'Iris-setosa', 'Iris-virginica',
       'Iris-versicolor', 'Iris-virginica', 'Iris-setosa',
       'Iris-versicolor', 'Iris-setosa', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-setosa', 'Iris-setosa',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-virginica'], dtype=object)

In [25]:
knn.predict(x_test)

array(['Iris-virginica', 'Iris-virginica', 'Iris-versicolor',
       'Iris-setosa', 'Iris-virginica', 'Iris-virginica',
       'Iris-versicolor', 'Iris-virginica', 'Iris-versicolor',
       'Iris-virginica', 'Iris-versicolor', 'Iris-setosa',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-virginica',
       'Iris-virginica', 'Iris-setosa', 'Iris-virginica',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-setosa',
       'Iris-virginica', 'Iris-versicolor', 'Iris-setosa',
       'Iris-versicolor', 'Iris-setosa', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-setosa', 'Iris-setosa', 'Iris-versicolor',
       'Iris-setosa', 'Iris-virginica', 'Iris-setosa', 'Iris-setosa',
       'Iris-virginica', 'Iris-setosa', 'Iris-setosa', 'Iris-versicolor'],
      dtype=object)

In [28]:
knn.score(x_test, y_test)

0.9555555555555556

In [29]:
from sklearn.preprocessing import StandardScaler

In [34]:
from sklearn.metrics  import accuracy_score

In [33]:
from sklearn.metrics import confusion_matrix

In [35]:
sc = StandardScaler()

In [36]:
sc.fit(x_train)

StandardScaler()

In [39]:
x_train = sc.transform(x_train) 
x_test =  sc.transform(x_test)

In [42]:
pred = y_test.predict()

AttributeError: 'Series' object has no attribute 'predict'

In [41]:
score = accuracy_score(y_test)

NameError: name 'pred' is not defined

In [14]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn import preprocessing,neighbors,svm
from sklearn.metrics  import confusion_matrix

In [15]:
df = pd.read_csv("C:\\Users\\GOURAV NEGI\\Downloads\\Employee_monthly_salary (2).csv")
df.head()

,EmpID,Name,Gender,Date_of_Birth,Age,Join_Date,Tenure_in_org_in_months,GROSS,Net_Pay,Deduction,Deduction_percentage,Designation,Department
0,19575,Keven Norman,M,03-09-1994,25,02-12-2019,7,74922,71494,3428,4.58,Product Operations Analyst.Associate.,IT Product Management & Ops
1,19944,Kristin Werner,F,23-06-1994,26,13-01-2020,6,44375,39971,4404,9.92,Platform Operations Engineer.Associate.,Platform Operations
2,20055,Avery Barber,M,27-02-1996,24,14-11-2019,8,82263,77705,4558,5.54,Platform Operations Engineer.Associate.,Platform Operations
3,20058,Boris Gibson,M,29-09-1993,26,13-01-2020,6,44375,40164,4211,9.49,Platform Operations Engineer.Associate.,Platform Operations
4,20332,Leif Mack,M,01-05-1991,29,04-06-2018,25,235405,143963,91442,38.84,Software Engineer.Senior.,Enterprise Access Engineering

In [16]:
x.shape

(1802, 2)

In [17]:
x = df.iloc[0:,7:9]
y = df.iloc[0:,9:11]

In [18]:
x

       GROSS  Net_Pay
0      74922    71494
1      44375    39971
2      82263    77705
3      44375    40164
4     235405   143963
...      ...      ...
1797   88934    88734
1798  133224   133024
1799   72547    71246
1800  227176   220778
1801  114641   114441

[1802 rows x 2 columns]

In [19]:
y

      Deduction  Deduction_percentage
0          3428                  4.58
1          4404                  9.92
2          4558                  5.54
3          4211                  9.49
4         91442                 38.84
...         ...                   ...
1797        200                  0.22
1798        200                  0.15
1799       1301                  1.79
1800       6398                  2.82
1801        200                  0.17

[1802 rows x 2 columns]

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=25, random_state = 0)

In [22]:
x_train, x_test, y_train, y_test

(       GROSS  Net_Pay
 887   105189    20054
 1784   77332    57160
 1166  103053    72627
 1564   65967    61568
 1358   92093    78888
 ...      ...      ...
 835    90509    78808
 1216  150972   102242
 1653  119033   103984
 559   214580   168315
 684   135454    92948

 [1777 rows x 2 columns],
        GROSS  Net_Pay
 1703   87010    67088
 1240  120245   100779
 1732   62087    58807
 434   191400   122776
 1724   88267    82027
 1238  150097   115960
 1712   76752    56356
 182   143729    94825
 602   221303   140060
 1636   66079    59055
 897   101777    88312
 1467  142695   112539
 1164  175415   108779
 1057  129450    99486
 1651   85755    74051
 6      44375    39939
 1058  166491   105382
 1261  128395   106809
 485   271099   198345
 1582   88970    76129
 1132  230273   155161
 1218  280110   141233
 648   321993   179721
 1051  170600   103637
 124   335149   170166,
       Deduction  Deduction_percentage
 887       85135                 80.94
 1784      20172                 26.08
 1166      30426                 29.52
 1564       4399                  6.67
 1358      13205                 14.34
 ...         ...                   ...
 835       11701                 12.93
 1216      48730                 32.28
 1653      15049                 12.64
 559       46265                 21.56
 684       42506                 31.38

 [1777 rows x 2 columns],
       Deduction  Deduction_percentage
 1703      19922                 22.90
 1240      19466                 16.19
 1732       3280                  5.28
 434       68624                 35.85
 1724       6240                  7.07
 1238      34137                 22.74
 1712      20396                 26.57
 182       48904                 34.03
 602       81243                 36.71
 1636       7024                 10.63
 897       13465                 13.23
 1467      30156                 21.13
 1164      66636                 37.99
 1057      29964                 23.15
 1651      11704                 13.65
 6          4436                 10.00
 1058      61109                 36.70
 1261      21586                 16.81
 485       72754                 26.84
 1582      12841                 14.43
 1132      75112                 32.62
 1218     138877                 49.58
 648      142272                 44.18
 1051      66963                 39.25
 124      164983                 49.23)

In [23]:
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [28]:
x_test

array([[-0.84247264, -0.94598003],
       [-0.52824879, -0.3726926 ],
       [-1.0781098 , -1.08688986],
       [ 0.14449375,  0.00160925],
       [-0.8305882 , -0.6917774 ],
       [-0.24600987, -0.11437209],
       [-0.93945799, -1.12859618],
       [-0.30621681, -0.47400611],
       [ 0.42721485,  0.29571449],
       [-1.04036701, -1.08266988],
       [-0.70285646, -0.58483158],
       [-0.31599287, -0.17258396],
       [-0.00663814, -0.23656428],
       [-0.44121913, -0.39469434],
       [-0.85433817, -0.82749734],
       [-1.24556979, -1.40794852],
       [-0.09101105, -0.29436777],
       [-0.45119374, -0.27008588],
       [ 0.89801644,  1.28749443],
       [-0.82394161, -0.79213801],
       [ 0.51202267,  0.55267373],
       [ 0.9832119 ,  0.31567431],
       [ 1.37919919,  0.97058769],
       [-0.05216207, -0.32406076],
       [ 1.503584  ,  0.80799942]])

In [29]:
from sklearn.svm import SVC

In [26]:
CL = SVC(kernel= 'linear',random_state = 42)
CL.fit(x_train, y_train)

ValueError: y should be a 1d array, got an array of shape (1777, 2) instead.

In [ ]:
P = sc.predict(x_test)
P

In [ ]:
poly = SVC(kernel = 'poly',random_state = 0)
poly.fit(x_train, y _train)

NEW

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import preprocessing,neighbors,svm
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
import warnings
warnings.filterwarnings("ignore")

In [3]:
df = pd.read_csv("C:\\Users\\GOURAV NEGI\\Downloads\\Employee_monthly_salary (2).csv")
df.head()

,EmpID,Name,Gender,Date_of_Birth,Age,Join_Date,Tenure_in_org_in_months,GROSS,Net_Pay,Deduction,Deduction_percentage,Designation,Department
0,19575,Keven Norman,M,03-09-1994,25,02-12-2019,7,74922,71494,3428,4.58,Product Operations Analyst.Associate.,IT Product Management & Ops
1,19944,Kristin Werner,F,23-06-1994,26,13-01-2020,6,44375,39971,4404,9.92,Platform Operations Engineer.Associate.,Platform Operations
2,20055,Avery Barber,M,27-02-1996,24,14-11-2019,8,82263,77705,4558,5.54,Platform Operations Engineer.Associate.,Platform Operations
3,20058,Boris Gibson,M,29-09-1993,26,13-01-2020,6,44375,40164,4211,9.49,Platform Operations Engineer.Associate.,Platform Operations
4,20332,Leif Mack,M,01-05-1991,29,04-06-2018,25,235405,143963,91442,38.84,Software Engineer.Senior.,Enterprise Access Engineering

In [4]:
df.drop(['EmpID'],1,inplace = True)

In [5]:
df.drop(['Name'],1,inplace = True)

In [6]:
df.drop(['Date_of_Birth'],1,inplace= True)

In [7]:
df.drop(['Designation'],1,inplace = True)

In [8]:
df.drop(['Department'],1,inplace = True)

In [9]:
df.head()

,Gender,Age,Join_Date,Tenure_in_org_in_months,GROSS,Net_Pay,Deduction,Deduction_percentage
0,M,25,02-12-2019,7,74922,71494,3428,4.58
1,F,26,13-01-2020,6,44375,39971,4404,9.92
2,M,24,14-11-2019,8,82263,77705,4558,5.54
3,M,26,13-01-2020,6,44375,40164,4211,9.49
4,M,29,04-06-2018,25,235405,143963,91442,38.84

In [10]:
df.drop(['Join_Date'],1,inplace = True)

In [13]:
x = df.iloc[0:,6:8]
y = df.iloc[0:,8:9]

In [14]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 15, random_state = 0)

In [15]:
x_train, x_test, y_train, y_test

(      Deduction_percentage
 6                    10.00
 1058                 36.70
 1261                 16.81
 485                  26.84
 1582                 14.43
 ...                    ...
 835                  12.93
 1216                 32.28
 1653                 12.64
 559                  21.56
 684                  31.38

 [1787 rows x 1 columns],
       Deduction_percentage
 1703                 22.90
 1240                 16.19
 1732                  5.28
 434                  35.85
 1724                  7.07
 1238                 22.74
 1712                 26.57
 182                  34.03
 602                  36.71
 1636                 10.63
 897                  13.23
 1467                 21.13
 1164                 37.99
 1057                 23.15
 1651                 13.65,
 Empty DataFrame
 Columns: []
 Index: [6, 1058, 1261, 485, 1582, 1132, 1218, 648, 1051, 124, 887, 1784, 1166, 1564, 1358, 80, 1186, 1474, 467, 18, 191, 1286, 254, 1183, 326, 1666, 1158, 530, 1386, 1205, 1443, 279, 118, 1502, 567, 240, 746, 425, 161, 982, 1600, 1353, 17, 107, 175, 249, 1292, 1136, 1333, 942, 521, 808, 187, 578, 1648, 987, 553, 1768, 1776, 927, 632, 1200, 847, 722, 378, 206, 811, 229, 34, 459, 1064, 575, 318, 1421, 148, 276, 1150, 465, 828, 47, 1270, 1128, 278, 53, 542, 1669, 1362, 769, 1570, 491, 522, 361, 775, 1728, 1084, 1322, 826, 511, 1408, 1280, ...]

 [1787 rows x 0 columns],
 Empty DataFrame
 Columns: []
 Index: [1703, 1240, 1732, 434, 1724, 1238, 1712, 182, 602, 1636, 897, 1467, 1164, 1057, 1651])

In [16]:
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [24]:
CL = SVC(kernel = 'linear',random_state=0)
CL.fit(x_train,y_train)

ValueError: y should be a 1d array, got an array of shape (1787, 0) instead.

In [ ]:
y_pred_linear = classifier_linear.predict(x_test)
y_pred_linear

In [ ]:
poly = SVC(kernel = 'poly', random_state=0)
poly.fit(x_train,y_train)
y_pred_poly = classifier_poly.predict(x_test)

In [ ]:
rbf = SVC(kernel = 'rbf',random_state=0)
rbf.fit(x_train,y_train)
y_pred_rbf = classifier_rbf.predict(x_test)

In [ ]:
cm_linear = confusion_matrix(y_test, y_pred_linear)
cm_linear

In [ ]:
cm_poly = confusion_matrix(y_test, y_pred_poly)
cm_poly

In [ ]:
cm_rbf = confusion_matrix(y_test,y_pred_rbf)
cm_rbf

In [43]:
from sklearn.metrics import classification_report

In [ ]:
report_linear = classification_report(y_test, y_pred_linear)
report_linear

In [ ]:
report_poly = classification_report(y_test, y_pred_poly)
report_poly`

In [ ]:
report_rbf = classification_report(y_test, y_pred_rbf )
report_rbf